@{
    ViewBag.Title = "Контакты";
}
<h2>Контакты</h2>

<address>
    Космонавтов 120В<br />
    <abbr title="Phone">Телефон:</abbr>
    0664752472
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:m4a1grant75@gmail.com">m4a1grant75@gmail.com</a><br />
</address>