@model Web.ViewModels.UserItemViewModel

@{
    ViewBag.Title = "User info - " + Model.UserInfo.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>User Info</h2>
        <table></table>
    </div>
    <div class="col-md-6">
        <h2>User tests</h2>
    </div>
</div>

